Animals_with_Attributes2
__pycache__
X_test.npy
X_train.npy
y_test.npy
y_train.npy
Report/Report.aux
Report/Report.log
Report/Report.out
Report/Report.synctex.gz
Report/Report.bbl
Report/Report.blg
Report/Report.pdf
