__pycache__
AwA2-data
LD_for_clustering.npy
Report/Report.aux
Report/Report.log
Report/Report.out
Report/Report.synctex.gz
Report/Report.bbl
Report/Report.blg
Report/Report.fdb_latexmk
Report/Report.fls
