Animals_with_Attributes2
X_test.npy
X_train.npy
y_test.npy
y_train.npy
Report/Report.aux
Report/Report.log
Report/Report.out
Report/Report.synctex.gz
Projection/X_test_proj_2d_linear.npy
Projection/X_test_proj_2d_rbf.npy
Projection/X_train_proj_2d_linear.npy
Projection/X_train_proj_2d_rbf.npy
Projection/X_train_proj_2d_LDA.npy
Projection/X_test_proj_2d_LDA.npy
